#integration2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red {
    color: #f30;
}

.blue {
    color: #03fa;
}

.white {
    background-color: #444;
    color: #fff
}